    * {
        font-family: sans-serif;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        color: black;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .nav-right {
        display: flex;
        align-items: center;
        color: rgb(19, 18, 18);
    }
    
    nav a {
        color: #333;
        text-decoration: none;
        margin-right: 15px;
    }
    
    nav a:hover {
        text-decoration: underline;
    }
    
    .nav-left a:hover {
        text-decoration: none;
    }
    
    .FormField__Link_button {
        color: black;
    }
    
    .active {
        background-color: white;
    }
    
    .nav-left a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: rgb(19, 18, 18);
        font-size: 36px;
    }
    
    .welcome {
        justify-content: center;
    }
    
    #mySidenav>a {
        text-align: center;
        position: absolute;
        left: -10px;
        float: center;
        transition: 0.2s;
        padding: 15px;
        width: 100px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        border-radius: 0 5px 5px 0;
    }
    
    #mySidenav a:hover {
        left: 0;
    }
    
    #new_customer {
        top: 180px;
        background-color: #4CAF50;
    }
    
    #add_user {
        top: 247px;
        background-color: #2196F3;
    }
    
    #user_profile {
        top: 315px;
        background-color: #555
    }
    
    .search-container {
        text-align: center;
        font-size: 17px;
        cursor: pointer;
        float: center;
    }
    
    .search-container button:hover {
        background: #0b7dda;
    }
    
    .search-name {
        margin-inline-start: 38%;
        padding: 20px;
        display: inline-table;
        justify-content: center;
    }
    
    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 300px;
    }
    
    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px;
        /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
    }
    
    #myUL li a:hover:not(.header) {
        background-color: #eee;
    }
    
    .dob {
        display: inline-table;
    }
    
    .react-datepicker {
        padding: 32px;
        margin: .4rem 0;
    }
    /*homepage*/
    
    .homepage {
        text-decoration: none;
        padding: 2px;
    }
    
    #homelink {}
    
    .center-div p {
        text-align: center;
        color: black;
        padding-top: 200px;
        padding-bottom: 200px;
        font-family: arial;
        font-size: 48px;
        background: #290440;
    }
    /*login page*/
    
    .loginpag {
        margin: 0;
        padding: 0;
        background: url("background.jpg");
        background-size: cover;
        font-family: sans-serif;
    }
    
    .loginBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 480px;
        padding: 80px 40px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.5);
    }
    
    h2 {
        margin: 0;
        padding: 0 0 20px;
        color: rgb(2, 25, 48);
        text-align: center;
    }
    
    .loginBox label {
        padding: 0;
        margin: 0;
        font-weight: bold;
        color: #fff;
    }
    
    .loginBox input {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .loginBox input[type="text"],
    .loginBox input[type="email"],
    .loginBox input[type="password"],
    .loginBox input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }
    
    .loginBox input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
        background: rgb(255, 38, 126);
        cursor: pointer;
        border-radius: 20px;
    }
    
    .loginBox input[type="submit"]:hover {
        background: #df804a;
        color: #262626;
    }
    
    .FormField__Link,
    .FormField__Link1 {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
    
     ::placeholder {
        color: rgba(155, 134, 134, 0.5);
    }
    
    .user {
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: absolute;
        top: calc(-100px/2);
        left: calc(50% - 50px);
        border-radius: 50%;
    }
    /*signup page*/
    
    .signuppage {
        margin: 0;
        padding: 0;
        background: url("regbackground.jpg");
        background-size: cover;
        font-family: sans-serif;
    }