* {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

.nav-left a:hover {
    text-decoration: none;
}

.FormField__Link_button {
    color: black;
}